{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block content %}


<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><img src="{% static 'dist/img/AdminLTELogo.png' %}" width="60%" height="60%"  alt="" /></a></a>

    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>
        <h6>{% include '_messages.html' %}</h6>

      <form action="{% url 'Login' %}" method="post">
            {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="username" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>

          <!-- /.col -->
        </div>
      </form>


      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{% url 'forget_password' %}">I forgot my password</a>
      </p>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</body>

{% endblock %}
