{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}








    <body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><img src="{% static 'dist/img/AdminLTELogo.png' %}" width="60%" height="60%"  alt="" /></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">OTP Verification</p>
          <h5 style="text-decoration:#00a65a">{% include '_messages.html' %}</h5>
        <form action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
        <div class="input-group mb-3">
          <input class="form-control" type="number" name="2facode" min="0"  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" placeholder="Enter Code" required >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-code"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="{% url 'Login' %}">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
{% endblock %}
